.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
}

.container > div{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container a{
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fbfbfb;
    transition: transform .1s;
}

.container a:hover{
    transform: scale(1.05);
}

.dog-link{
    background-color: rgb(31, 31, 31);
    
}

.cat-link{
    background-color: rgb(109, 109, 109);
}

.fav-link{
    background-color: rgb(243, 243, 124);
    width: fit-content;
    color: black;
}