.fav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    padding: 1%;
}

.fav-container > .empty{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #fbfbfb;
    color: black;
    padding: 15px;
    border-radius: 12px;
}

.back-btn{
    text-decoration: none;
    background-color: rgb(109, 94, 197);
    color: #fbfbfb;
    padding: 20px;
    border-radius: 12px;
}

.back-btn:hover{
    background-color: rgb(82, 70, 148);
}