.fav-card{
    background-color: #fbfbfb;
    border-radius: 12px;
    height: 400px;
    padding: 10px;
}

.fav-card img{
    width:100%;
    height: 90%;
    object-fit: cover;
}

.fav-card .fav-buttons-container{
    height: 10%;
}

.fav-card button{
    border-radius: 12px;
    background-color: rgb(182, 101, 158);
    color: #fbfbfb;
    border: 1px solid rgb(65, 37, 56);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s;
}

.fav-card button:hover{
    background-color: rgb(121, 64, 103);
}